<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
  </system.webServer>
 
  <connectionStrings>
    <add name="cn" connectionString="Data Source=NETDEV04\SQLEXPRESS;Initial Catalog=labmanagerdb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="aspnetdbConnectionString" connectionString="Data Source=NETDEV04\SQLEXPRESS;Initial Catalog=labmanagerdb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <forms defaultUrl="~/Login.aspx" loginUrl="errorpage.aspx">

      </forms>
    </authentication>
    <membership defaultProvider="myMembership">
      <providers>

        <clear/>
        <add name="myMembership" connectionStringName="cn"
 type="System.Web.Security.SqlMembershipProvider"  />
      </providers>
    </membership>
    <profile enabled="false" >
      <providers>
        <remove name="PriyankaProfileSqlProvider"/>
        <add name="PriyankaProfileSqlProvider" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ASPNETDB" applicationName="ProfileQuickStart"/>
      </providers>
      <properties>
        <add name="countryCulture"/>
        <add name="PreferredBackgroundColor" type="System.Drawing.Color" allowAnonymous="true" serializeAs="Binary"/>
              </properties>
    </profile>
    <roleManager enabled="true"  defaultProvider="myroleManager">
      <providers>
        <clear/>

        <add name="myroleManager" type="System.Web.Security.SqlRoleProvider" connectionStringName="cn"/>
      </providers>
    </roleManager>
  </system.web>
<location path="TenantRegistration.aspx">
  <system.web>
    <authorization>
     
    </authorization>
  </system.web>
</location>
 
    <location path="Tenanat">
      <system.web>
      <authorization>
   <allow roles="Administrators"/>
      <deny  users="*"/>
</authorization>
        </system.web>
      </location>
  <location path="Manager">
    <system.web>
    <authorization>
      <allow roles="Administrators,Manager"/>
      <deny  users="*"/>
    </authorization>
      </system.web>
  </location>
  <location path="Public">

    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <system.serviceModel>
    <client>
      <endpoint address="https://localhost:44300/api/staffservice.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
        contract="StaffSvcRefronsvr.IStaffService" name="BasicHttpBinding_IService1" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <basicHttpsBinding>
        <binding name="secureHttpBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2097152"
          maxBufferSize="2097152" maxReceivedMessageSize="2097152">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpsBinding>
    </bindings>
    <services>
      <!-- Note: the service name must match the configuration name for the service implementation. -->
      <service name="LabManager1.API.StaffService" behaviorConfiguration="custombehavior" >
        <!-- Add the following endpoint.  -->
        <!-- Note: your service must have an http base address to add this endpoint. -->
        <endpoint address="https://localhost:44300/api/staffservice.svc" binding="basicHttpsBinding"
        bindingConfiguration="secureHttpBinding" contract="LabManager1.API.IStaffService"
        name="BasicHttpBinding_IService1"  >
         
        </endpoint>
     <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
    </services>
   
    <behaviors>
      <serviceBehaviors>

        <behavior name="custombehavior">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceCredentials>
            <serviceCertificate findValue="localhost" x509FindType="FindBySubjectName" storeLocation="LocalMachine" storeName="My"/>
          </serviceCredentials>

        </behavior>
       
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="false" />
  
    

  </system.serviceModel>
</configuration>